<%- include('../partials/header.ejs')%>

      <div id="form-container">

        <form method="POST" action="/connections/<%=connection.id%>?_method=PUT">

            <label>Topic: </label><input type="text" name="topic" value = "<%= connection.topic%>" placeholder="Topic" required>
            <br>
            <label>Title: </label><input type="text" name="name" value = "<%= connection.name%>" placeholder="Title" required>
           <!-- <br>
            <label>Host: </label><input type="text" name="hostName" value = "<%= connection.hostName.firstName + ' ' + connection.hostName.lastName%>" placeholder="Host" required> -->
            <br>
            <label>Details: </label><textarea name="details" placeholder="Description"><%= connection.details%></textarea required>
            <br>
           <!-- <label>Where: </label><input type="text" placeholder="Location">
            <br>-->


            <% var today = new Date(); %>
            <% var dd = today.getDate(); %>
            <% var mm = today.getMonth() + 1; %>
            <% var yyyy = today.getFullYear(); %>

            <% if (dd < 10) { %>
              <%  dd = '0' + dd; %>
              <% }%>

            <% if (mm < 10) { %>
              <%   mm = '0' + mm; %>
            <% } %>
    
            <% today = yyyy + '-' + mm + '-' + dd; %> 


            <label>When: </label><input name="date" value = "<%= connection.date%>" min="<%=today%>" type="date" required>
            <br>
             
          

            <label> Start: </label><input name="startTime" value = "<%= connection.startTime%>" type="time" id="startTime" required>
            <br>
            <label>End: </label><input type="time" name="endTime" value = "<%= connection.endTime%>" id="endTime" required>

            <br>
            <label>Image URL: </label><input type="text" name="image" value = "<%= connection.image%>" placeholder="Image URL" required>
            <br>
            <!--<label id="c-c"> </label>--><button id="edit-connection">Submit</button>

        </form>
      </div>

<%- include('../partials/footer.ejs')%>